@import "./normalize.css";

button {
  background-color: #40a070;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  border: none;
}
.container {
  width: 100%;
  .item {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 0 10px 0;
    border-top: 1px solid #ccc;
    height: 300px;

    img.image-component {
      flex-item: 0 0 auto;
      width: 300px;
    }

    span {
      margin: auto 0 auto 1rem;
      font-size: 2rem;
      vertical-align: middle;
      flex-item: 0 1 auto;
    }
  }
}